<section>
	<label for="countdown-duration">Inspection time</label>
	<select id="countdown-duration">
		<option id="duration0" value="0">None</option>
		<option id="duration3" value="3">3 seconds</option>
		<option id="duration5" value="5">5 seconds</option>
		<option id="duration10" value="10">10 seconds</option>
		<option id="duration15" value="15" selected="selected">15 seconds</option>
	</select>
</section>
