<section id="theme">
	<label for="theme-dropdown">Theme</label>
	<select id="theme-dropdown">
		<option value="Dark">Dark</option>
		<option value="Light">Light</option>
		<option value="Newspaper">Newspaper</option>
		<option value="Trinity">Trinity</option>
		<option value="ADHD">ADHD</option>
	</select>
</section>
