<section id="config">

	{% include "config/puzzle.njk" %}

	{% include "config/inspection.njk" %}

	{% include "config/theme.njk" %}

	{% include "config/sound.njk" %}

	{% include "config/focus.njk" %}

</section>
