{#
<script src="/public/js/vendor/tooltip.min.js"></script>
<script src="/public/js/vendor/micromodal.min.js"></script>
<script src="/public/js/averages.js"></script>
<script src="/public/js/scramble.js"></script>
<script src="/public/js/timer.js"></script>
 #}


<script src="/public/vendor/toastify-js.js"></script>
<script src="/public/vendor/tooltip.min.js"></script>
<script type="module" src="/public/js/{{assets.main.js}}"></script>
