---
layout: main.hbs
title: Cubist
headline: Cubist
strapLine: A speed cubing timer
---
<div class="wrapper">

	<main>

		{{> header }}

		{{> timer }}

	</main>

	<aside id="times">

		{{> times }}

	</aside>

	{{> config/debug }}

</div>


{{> helpLink }}

{{> supportButton }}

{{> sounds }}
{{> script }}
{{> deleteTimesModal }}
{{> timesListModal }}
