---
layout: main.hbs
title: Cubist - Settings
headline: Cubist
strapLine: Settings
---
<div class="wrapper">

	<main>

		{{> header }}

		<section class="content">

			{{> config }}

		</section>

	</main>

</div>

{{> homeLink }}
{{> script }}
