{#
<script src="/public/js/vendor/tooltip.min.js"></script>
<script src="/public/js/vendor/micromodal.min.js"></script>
<script src="/public/js/averages.js"></script>
<script src="/public/js/scramble.js"></script>
<script src="/public/js/timer.js"></script>
 #}


<script src="/public/js/vendor.js"></script>

<script nomodule src="/public/js/es5bundle.main.js"></script>
<script type="module" src="/public/js/main.js"></script>
