<section id="timer-section">

	<section class="supplementary">
		{% include "settingsLink.njk" %}

		<p id="options"></p>

		{% include "helpLink.njk" %}
	</section>

	<p id="timer">This won't work without JavaScript, sorry...</p>

	{% include "cancelButton.njk" %}

	{% include "scramble.njk" %}

</section>
