a {
	color: $dark-link-color;
	display: inline-block;
	border-radius: 3px;

	&:hover {
		background-color: $dark-link-color;
		color: $dark-bg-color;
	}
}

.big-link {
	font-family: $monospaceFont;
	font-size: 1.5rem;
	padding: 0.5em;
}

.nav-link {
	cursor: pointer;

	// position: absolute;
	// right: 0.5em;
	// top: 0.5em;
}

#view-all-link {
	display: inline-block;
	text-align: center;
	margin: 0 auto 10px;
	padding: 3px;
}
