body {
	font-family: $bodyFont;
	font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

h1 {
	margin-bottom: 0.5em;
	font-size: 1.5rem;
	text-align: center;

	@media (min-width: $breakpoint) {
		text-align: left;
	}

	span.siteName {
		text-transform: uppercase;
		font-family: $monospaceFont;
		font-size: 1.75em;
	}

	span.strap {
		display: none;

		@media (min-width: $breakpoint) {
			display: inline-block;
		}
	}
}

h2 {
	margin-bottom: 1em;
}

p {
	margin: 0 0 1em;
}

a {
	color: $dark-link-color;
	font-family: $monospaceFont;
	display: inline-block;
	border-radius: 3px;

	&:hover {
		background-color: $dark-link-color;
		color: $dark-bg-color;
	}
}

.content {
	line-height: 1.5;
	font-size: 1.25rem;

	h2 {
		margin-top: 80px;
		padding-top: 80px;
		border-top: 1px dashed $dark-text-color;

		&:first-child {
			margin-top: 0;
			padding-top: 0;
			border-top: none;
		}
	}
}

dt {
	margin-bottom: 10px;
}

dd {
	margin-bottom: 20px;
}

button {
	font-size: inherit;
}
