<section id="timer-section">

	<section id="puzzle-details">
		<p id="options"></p>

		{{> settingsButton }}
	</section>

	<p id="timer">This won't work without JavaScript, sorry...</p>

	{{> cancelButton }}

	{{> scramble }}

</section>
