---
layout: main
title: Cubist - Settings
headline: Cubist
strapLine: Settings
---
<div class="wrapper">

	<main>

		{% include "header.njk" %}

		<section class="supplementary">

			{% include "homeLink.njk" %}

		</section>

		<section class="content">

			{% include "config.njk" %}

		</section>

	</main>

</div>

{% include "script.njk" %}
