---
layout: main
title: Cubist - Times
headline: Cubist
strapLine: Times
---
<div class="wrapper">

	<main>

		{% include "header.njk" %}

		<section class="supplementary">

			{% include "homeLink.njk" %}

		</section>

		<section class="content">

			<h2>
				Your times for <span class="puzzle">puzzle</span>
			</h2>

			<div class="times-list-wrapper">
				<ul id="times-full-list">
				</ul>
			</div>

		</section>

	</main>

</div>

{% include "homeLink.njk" %}
{% include "script.njk" %}
