body {
	margin: 0;
	padding: 0;
	background: $dark-bg-color;
	color: $dark-text-color;
	background-image: url("/public/images/i-love-lamp.svg");
	background-repeat: no-repeat;
	background-position: -60px bottom;
	background-size: 200px auto;
	background-attachment: fixed;

	&.modal-visible {
		background-image: none;
	}
}
